{% extends "layout.html" %}

{% block body %}
  <div class="col-lg-12 text-center">
    <h3>Explore the power of latent space!</h3>
  </div>
  <div class="col-lg-12 text-center" style="padding-top: 20px">
    <form action="" method="post">
      <button type="submit" class="btn btn-primary">Generate new sample</button>
    </form>
  </div>
{% for image in images %}
  <div class="col-lg-12 text-center" style="padding-top: 20px">
      <img src="{{ image }}" class="center">
  </div>
{% endfor %}

{% endblock %}
